body {  
    display: grid;
    font-family: 'Courier New', monospace;
    background-color: #508197;
    margin: 0;
    padding: 0px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

h1 {
    grid-column: span 2;
    text-align: center;
    color: black;
    margin-top: 200px;
    font-size: 2.5rem;
}

p {
    color: black;
    font-size: 1.2rem;
    text-align: center;
}

h2 {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#user-input, #submit-btn {
    text-align: center;
    border-radius: 10px;
    border-color: rgb(18, 17, 22);
    border-style: solid;
    border-width: 2px;
    height: 30px;
}

#submit-btn:hover {
    background-color: #f39d1291;
    color: white;
    cursor: pointer;
}

#game {
    grid-column: span 2;
    text-align: center;
    padding: 0px;
   
}

#game-over {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center; 
  height: 10vh;           
  text-align: center;
}


#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #f39d1291;
    color: white;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #e67e22;
}